@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IITU University</h1>
    <br />
    <p>This is a project to help the university admissions office. Here we can add students, courses, instructors.</p>
</div>
